{% extends "layout.html.twig" %}

{% block content %}
    <section class="large-3 columns">
        {{ menu() }}
        {% include 'components/ads/partners.html.twig' %}
    </section>
    <section class="large-9 columns">
        <section class="products -mg-t-smx">
            <nav>
                {{ breadcrumbs() }}
            </nav>
            <header class="text-center">
                <h1 class="uppercase">{{ title_page }}</h1>
            </header>
            <section class="row large-up-3">
                {{ products|raw }}
            </section>
        </section>
    </section>
{% endblock %}
