{% extends "layout.html.twig" %}

{% block content %}
    <section class="large-3 columns">
        {{ menu() }}
        {% include 'components/ads/partners.html.twig' %}
    </section>
    <section class="large-9 columns">
        <section class="info">
            <header class="text-center">
                <h4>Минимальный заказ</h4>
            </header>
            <div class="row">
                <div class="large-4 columns">
                    <a href="about.html" class="button expanded secondary">для юр. лиц – 1500,00 руб.</a>
                </div>
                <div class="large-4 columns">
                    <a href="about.html" class="button expanded">для физ. лиц – 300,00 руб.</a>
                </div>
                <div class="large-4 columns">
                    <a href="about.html" class="button expanded alert">Условия доставки</a>
                </div>
            </div>
        </section>
        {{ content_top|raw }}
        <section class="products">
            <header class="text-center">
                <h1 class="uppercase">Новинки</h1>
            </header>
            <section class="row large-up-3">
                {# products|raw #}
            </section>
        </section>
    </section>
{% endblock %}
