{% extends "layout.html.twig" %}

{% block content %}
    <section class="large-3 columns">
        {{ menu() }}
        {% include 'components/ads/partners.html.twig' %}
    </section>
    <section class="large-9 columns">
        {{ content_top|raw }}
        {# include 'components/ads/offfers.html.twig' #}
    </section>
{% endblock %}
