<section class="line-top about">
    <div class="card">
        <div class="card-section">
            <h6><a href="#">Мы участники</a></h6>
            <p>
                <img src="http://ippart.com/image/data/efind.png">
                <img src="http://ippart.com/image/data/einfo.png">
                <img src="http://ippart.com/image/data/chipfind.png">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-section">
            <h6><a href="#">Мы партнеры</a></h6>
            <p>
                <img src="http://ippart.com/image/data/ruichi.png">
                <img src="http://ippart.com/image/data/zip.png">
                <img src="http://ippart.com/image/data/rexant.png">
                <img src="http://ippart.com/image/data/proconnect.png">
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-section">
            <h6><a href="#">Мы спонсоры</a></h6>
            <p>
                <img src="http://ippart.com/image/data/mehanika.png">
            </p>
        </div>
    </div>
</section>
