<section class="products">
    <header class="text-center">
        <h1 class="uppercase">{{ title }}</h1>
    </header>
    <section class="row large-up-3">
        {{ products|raw }}
    </section>
</section>
